.breadcrumb-container
  .container
    %ol.breadcrumb
      %li
        %i.fa.fa-home.pr-10
        %a{:href => root_path} Home
      %li
        %a{:href => shop_products_category_path(category: @detail.sub_category.category.seo_name)}
          =@detail.sub_category.category.name
      %li
        %a{:href => shop_products_sub_category_path(category: @detail.sub_category.category.seo_name, sub_category: @detail.sub_category.seo_name)}
          =@detail.sub_category.title
      %li.active= @detail.title

%section.main-container
  .container
    .row
      .main.col-md-12
        %form#add-cart.margin-clear{:novalidate => "novalidate", :role => "form"}
          =hidden_field_tag :product_id, @detail.id
          %h1.page-title= @detail.title
          .separator-2
          .row
            .col-md-4
              %ul.nav.nav-pills{:role => "tablist"}
                %li.active
                  %a{"data-toggle" => "tab", :href => "#pill-1", :role => "tab", :title => "images"}
                    %i.fa.fa-camera.pr-5
                    Photo
                %li
                  %a{"data-toggle" => "tab", :href => "#pill-2", :role => "tab", :title => "video"}
                    %i.fa.fa-video-camera.pr-5
                    Video
              .tab-content.clear-style
                #pill-1.tab-pane.active
                  .overlay-container.overlay-visible
                    %img{:alt => "", :src => asset_path("products/""#{@detail.image}")}
                    %a.popup-img.overlay-link{:href => asset_path("products/""#{@detail.image}"), :title => @detail.title}
                      %i.icon-plus-1
                #pill-2.tab-pane
                  .embed-responsive.embed-responsive-16by9
                    %iframe.embed-responsive-item{:src => "//player.vimeo.com/video/29198414?byline=0&amp;portrait=0"}
                    %p
                      %a{:href => "http://vimeo.com/29198414"} Introducing Vimeo Music Store
                      from
                      %a{:href => "http://vimeo.com/staff"} Vimeo Staff
                      on
                      = succeed "." do
                        %a{:href => "https://vimeo.com"} Vimeo
            .col-md-8.pv-30
              %h2= @detail.title
              %h2 Description
              %p= @detail.description
              %hr.mb-10
                .clearfix.mb-20
                  %span
                    %i.fa.fa-star.text-default
                    %i.fa.fa-star.text-default
                    %i.fa.fa-star.text-default
                    %i.fa.fa-star.text-default
                    %i.fa.fa-star
                  %a.wishlist{:href => "#"}
                    %i.fa.fa-heart-o.pl-10.pr-5>
                    Wishlist
                  %ul.pl-20.pull-right.social-links.circle.small.clearfix.margin-clear.animated-effect-1
                    %li.twitter
                      %a{:href => "http://www.twitter.com", :target => "_blank"}
                        %i.fa.fa-twitter
                    %li.googleplus
                      %a{:href => "http://plus.google.com", :target => "_blank"}
                        %i.fa.fa-google-plus
                    %li.facebook
                      %a{:href => "http://www.facebook.com", :target => "_blank"}
                        %i.fa.fa-facebook
                .row.grid-space-10
                  %form.clearfix{:role => "form"}
                    .col-md-4
                      .form-group
                        %label Quantity
                        -if @detail.is_fixed_rate
                          =select_tag :quantity, options_for_select(number_count), class: 'form-control'
                        -else
                          =select_tag :quantity, options_for_select(quantity), class: 'form-control'
                    .col-md-12.text-right
                .light-gray-bg.p-20.bordered.clearfix
                  %span.product.price
                    %i.icon-tag.pr-10>
                    %del.price-del
                      %i.fa.fa-rupee.pr-10
                      =@detail.price.to_f
                    %span.price
                      %i.fa.fa-rupee
                      = @detail.price_actual.to_f
                  .product.elements-list.pull-right.clearfix
                    -if @detail.stock
                      %input.submit-button.margin-clear.bg-olive{:type => "submit", "data-target" => ".bs-example-modal-sm",
                        :value => "Add to Cart", "data-toggle" => "modal"}
                      %i.fa.fa-shopping-cart
                    -else
                      %a.pull-left.btn.bg-gray.disabled{:href => "#"}
                        Out Of Stock

=render 'home/detail_specifications'
=render 'product/add_cart_modal'