.breadcrumb-container
  .container
    %ol.breadcrumb
      %li
        %i.fa.fa-home.pr-10
        %a{:href => "index.html"} Home
      %li.active Checkout Review

%section.main-container
  .container
    .row
      .main.col-md-12
        %h1.page-title Checkout Review
        .separator-2
        %table.table.cart
          %thead
            %tr
              %th Product
              %th Price
              %th Quantity
              %th.amount Total
          %tbody
            - @shop_cart.shopping_cart_products.each do |item|
              %tr
                %td.product
                  %a{:href => "shop-product.html"}
                    =item.product_title
                  %small= item.product_description
                %td.price
                  %span
                    %i.fa.fa-rupee.pr-5
                    = item.price
                %td.quantity
                  .form-group
                    %input.form-control{:disabled => "", :type => "text", :value => item.quantity}
                %td.amount
                  %span
                    %i.fa.fa-rupee.pr-5
                    = price_with_quantity(item.price, item.quantity)
            %tr.hide
              %td.total-quantity{:colspan => "3"} Subtotal
              %td.amount $1997.00
            %tr.hide
              %td.total-quantity{:colspan => "2"} Discount Coupon
              %td.price TheProject25672
              %td.amount -20%
            %tr
              %td.total-quantity{:colspan => "3"}
                ="Total #{ @shop_cart.shopping_cart_products.count } Items"
              %td.total-amount
                %span
                  %i.fa.fa-rupee.pr-5
                    = total_products_price(@shop_cart.shopping_cart_products)
        .space-bottom
        %table.table
          %thead
            %tr
              %th{:colspan => "2"} Billing Information
          %tbody
            %tr
              %td Full Name
              %td.information
                = "#{@shop_cart.first_name} #{@shop_cart.last_name} "
            %tr
              %td Email
              %td.information
                = @shop_cart.email
            %tr
              %td Telephone
              %td.information
                = @shop_cart.telephone
            %tr
              %td Address
              %td.information
                = "#{@shop_cart.address1} #{@shop_cart.address2}, #{@shop_cart.city}, #{@shop_cart.zip_code}, #{@shop_cart.country}"
            %tr
              %td Additional Info
              %td.information
                = @shop_cart.additional_info
        .space-bottom
        %table.table
          %thead
            %tr
              %th{:colspan => "2"} Payment
          %tbody
            %tr
              %td Cash After Delivery
        .text-right
          %a.btn.btn-group.bg-olive{:href => shop_payment_path}
            %i.icon-left-open-big
            Go Back
          %a.btn.btn-group.bg-olive{:href => shop_complete_path}
            %i.icon-check
            Complete Your Order
